package templates

templ NoRoutePage() {
	@Header("404 Error")
	<main class="w-screen h-screen flex justify-center items-center">
		<div>
			<h1>404 Error</h1>
			<a href="/sign">Sign in?</a>
		</div>
	</main>
}
