package templates

templ Index() {
	<html>
		<header>
			<title>HI</title>
			<link rel="stylesheet" href="css/output.css" />
		</header>
		<body>
			<h1 class="text-bold">asdf</h1>
		</body>
	</html>
}
