package dashboard

import "music-exchange/templates"

templ Dashboard() {
	@templates.Header("Dashboard")
	<body>
		@templates.Navbar()	
		<main class="w-screen flex flex-col items-center">
			<div>
				<h1 class="font-bold">Hot Takes</h1>
				<div class="flex items-center">
				</div>
			</div>
		</main>    
	</body>
}

